/* Estilos Generales */

body {
    background-color: #e2e2e2;
}

// Colores

$marron1:#A89F91;
$marron2:#CABFAB;
$marron3:#DFD8C8;

$gris1:#41444B;
$gris2:#52575D;

$verde:#0B9A16;
$rojo:#C61010;

$blanco:#FFFFFF;

// Fonts

$fonts:'Roboto';

// Background

.backgroundTablero{
    background:$marron2;
    height: 55rem;
    border: 10px solid $blanco;

}

// Diseño Ascensor

div .screen{
    width: 100%;
    height: 12rem;
    background-color: $blanco;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    .destinos{
        font-size: 12px;
        font-family: 'Roboto', sans-serif;
        color:$gris1;
    }
    label{
        font-size: 10px;
        color:$verde;
    }
    .destinoActual{
        font-family:$fonts;
        font-size: 70px;
        color:$gris1
    }
    .flecha{
        color: $rojo;
    }
    hr{
        margin-top: -10px;
    }
    .capacidad{
        margin-top: -10px;
    }
}

.rounded{
    background: $gris1;
    height: 5.5rem;
    width: 5.5rem;
    font-family: $fonts;
    font-size: 45px;
    color: $blanco;
    cursor: pointer;
    
}

.roundedMedium{
    background: $gris1;
    height: 5.5rem;
    width: 5.5rem;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $fonts;
    font-size: 45px;
    color: $blanco;
    cursor: pointer;
}

.btn:hover {
    
    background-position: 300px 0px;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1.5s;
    transition-property: all;
    transition-duration: 1.5s;
    color:$verde;
}


.roundedPhone{
    background: $blanco;
    height: 5.5rem;
    width: 5.5rem;
    font-family: $fonts;
    font-size: 45px;
    color: $blanco;
    cursor: pointer;
}

.roundedBell{
    background: $blanco;
    height: 5.5rem;
    width: 5.5rem;
    font-family: $fonts;
    font-size: 45px;
    color: $blanco;
    cursor: pointer;
}

.fa-phone-volume{
    color: $verde;
}
.fa-bell{
    color: $rojo;
}

.roundedAceptar{
    background: $blanco;
    height: 3rem;
    width: 8.5rem;
    font-family: $fonts;
    font-size: 20px;
    color: $gris1;
    cursor: pointer;
    margin-right: 15px;
    
}

.roundedSubir{
    background: $blanco;
    height: 3rem;
    width: 8.5rem;
    font-family: $fonts;
    font-size: 20px;
    color: $gris1;
    cursor: pointer;
    
}

.roundedWhite{
    background: $blanco;
    height: 5.5rem;
    width: 5.5rem;
    font-family: $fonts;
    font-size: 45px;
    color: $gris1;
    cursor: pointer;
    
}

.roundedMediumWhite{
    background: $blanco;
    height: 5.5rem;
    width: 5.5rem;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $fonts;
    font-size: 45px;
    color: $rojo;
    cursor: pointer;
}

.roundedAccesibilidad{
    background: $blanco;
    height: 3rem;
    width: 17.5rem;
    font-family: $fonts;
    font-size: 20px;
    color: $gris1;
    cursor: pointer;
    
}

.fa-accessible-icon{
    margin-right:10px;
    color: $verde;
}

// Ajustes Responsive

@media (max-width: 1199px) {

    .backgroundTablero{
        height: 50rem;
    }    
    .rounded{
        height: 4.5rem;
        width: 4.5rem;   
    }
    .roundedMedium{
        height: 4.5rem;
        width: 4.5rem;
    }    
    .roundedPhone{
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .roundedBell{
        height: 4.5rem;
        width: 4.5rem;
    }
    
    .fa-phone-volume{
        color: $verde;
    }
    .fa-bell{
        color: $rojo;
    }
    
    .roundedAceptar{
        height: 3rem;
        width: 6.9rem;
    }
    .roundedSubir{
        height: 3rem;
        width: 6.9rem;
    }
    .roundedWhite{
        height: 4.5rem;
        width: 4.5rem;
        font-size: 30px;
    }
    .roundedMediumWhite{
        height: 4.5rem;
        width: 4.5rem;
    }
    .roundedAccesibilidad{
        height: 3rem;
        width: 15.5rem;
    }
    
    .fa-accessible-icon{
        margin-right:10px;
        color: $verde;
    }
    
  }

    


